html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.main__grid {
  display: grid;
  grid-template-rows: auto;
}

.content {
  grid-column: 2/3;
}

.mobile {
  display: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
  grid-column: 1/2;
}

.nav__image-container {
  width: 8rem;
  height: 8rem;
  display: flex;
  grid-row: 2/3;
  margin-left: 4rem;
  margin-top: 1rem;
}

.nav__image {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
}

.nav__name {
  display: flex;
  align-items: center;
  grid-row: 3/4;
  margin-left: 2.5rem;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  grid-row: 4/5;
  font-size: 20px;
}

.nav__links > .link:hover {
  border: 1px solid black;
  text-align: end;
}

.nav__links > .link:active {
  text-align: start;
}

.nav__hyperlinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  grid-row: 5/6;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

.intro__heading {
  margin-top: 12rem;
  font-size: 5rem;
}

.intro__description {
  line-height: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 15%;
}

.intro__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro__button-email,
.intro__button-download {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  width: 40%;
  color: white;
  border: none;
  padding: 10px 20px;
}

.intro__button-email {
  height: 2.7rem;
  background-color: #28587b;
  transition: 0.1s;
}

.intro__button-email:hover {
  transform: translateY(-0.5rem);
  transition: 0.3s;
}

.intro__button-email:active {
  background-color: white;
  color: #28587b;
  border: 2px solid black;
}

.intro__button-download {
  color: black;
  border: solid 3px black;
  transition: 0.3s;
}

.intro__button-download:hover {
  border: solid 5px black;
  transform: translateY(-0.5rem);
}

.intro__button-download:active {
  border: solid 1px black;
  background-color: white;
}

.experience {
  margin-top: 25rem;
  margin-bottom: 10rem;
  margin-left: 10%;
  margin-right: 10%;
}

.experience__card-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10%;
}

.experience__heading,
.projects__heading {
  font-size: 3rem;
  margin-bottom: 10%;
}

.experience__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5%;
}

.experience__date,
.experience__name,
.experience__title {
  font-weight: bold;
  margin: 0;
}

.experience__description {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.experience__skills,
.projects__skills {
  margin-bottom: 2rem;
}

.experience__skills-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.projects__skills-card-container {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.experience__skill-card,
.projects__skill-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5%;
  background-color: #28587b;
  color: white;
  cursor: default;
}

.experience__skill-card:hover,
.projects__skill-card:hover {
  border: 3px solid #28587b;
  background-color: white;
  color: black;
}

.experience__skill,
.projects__skill {
  text-align: center;
}

.projects {
  margin-bottom: 10rem;
  margin-left: 10%;
  margin-right: 10%;
}

.projects__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  margin-top: 3rem;
}

.projects__card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.projects__card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.projects__card-image {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__card-image > img {
  width: 100%;
}

.projects__card-title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.projects__card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .main__grid {
    display: grid;
    grid-template-rows: auto;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    grid-row: 1/2;
    background-color: white;
  }

  .nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 0vh;
    width: 100vw;
    grid-row: 2/3;
    z-index: 1000;
    background-color: white;
  }

  .nav__image-mobile {
    margin-top: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .content {
    position: absolute;
    top: 10vh;
    grid-row: 2/3;
    z-index: 100;
  }

  .nav__links,
  .nav__hyperlinks,
  .nav__image-container,
  .nav__name {
    display: none;
  }

  .hamburger {
    grid-column: 1/2;
    display: block;
    padding: 10px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }

  .intro__heading {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .intro__description {
    line-height: 1.8rem;
    font-size: 1rem;
    margin-bottom: 15%;
  }

  .intro__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .intro__button-email,
  .intro__button-download {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .experience {
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  .experience__card-container {
    gap: 5rem;
  }

  .experience__heading {
    font-size: 2rem;
  }

  .experience__description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .projects__card {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .experience {
    margin-top: 30rem;
    margin-bottom: 10rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro__description {
    margin-top: 5%;
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: 15%;
  }

  .intro__button-email,
  .intro__button-download {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
